:root {
    --text: #cdd6f4;
    --crust: #11111b;
    --green: #a6e3a1;
    --green-hover: #72df68;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --flamingo: #f2cdcd;
    --peach: #fab387;
    --surface0: #313244;
    --surface1: #45475a;
    --overlay0: #6c7086;
    --overlay2: #9399b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    transition: background-color 0s ease;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 100px;
    font-size: 4rem;
    color: #333;
}

.tile-rack {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}

.tile {
    width: 150px;
    height: 150px;
    background-color: #f9d29c;
    border: 2px solid #b08e6a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 5.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.tile-value {
    font-size: 1.5rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #555;
}

.btn {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: #45a049;
}

.dark-mode-btn {
    margin-top: 20px; 
}

footer {
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; 
    padding: 10px 0; 
    background-color: var(--crust); 
    color: var(--text); 
}

body.dark-mode {
    background-color: var(--crust);
    color: var(--text);
}

body.dark-mode h1 {
    color: var(--text);
}

body.dark-mode .btn {
    background-color: var(--maroon);
    color: var(--crust);
}

body.dark-mode .btn:hover {
    background-color: var(--flamingo);
}

body.dark-mode footer {
    background-color: var(--crust); 
    color: var(--text); 
}

body.dark-mode .tile {
    background-color: var(--surface1);
    color: var(--peach);
    border: 0px solid var(--peach);
}

body.dark-mode .tile-value {
    color: var(--peach);
}
.tile.dragging {
    opacity: 0.5; 
}


/* lazy tile theme */
body.dark-mode .tile {
    background-color: var(--surface1);
    color: var(--peach);
    border: 0px solid var(--peach);
}

body.dark-mode .tile-value {
    color: var(--peach);
}